<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/c60532882c.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templatemo-style.css') }}">

    <title>SOIS</title>

<!--
Mini Profile Template
https://templatemo.com/tm-530-mini-profile
-->
  </head>
  <body>
    <h1>
        Contributors
    </h1>
    <h2 style="margin-left: 40px">
        Founders
    </h2>
    <ul style="margin-left: 40px">
        <li>Sumana- @oksumana, Founder of H 4 Hope, creator of original gSheet, Initial marketing to help spread the sheet, and responding to media inquiries about the gSheet/team, and working on general team moral/project management.</li>
        <li>Mary - Founder of sj strong, mary_celestin/ sanjose_strong, organizing the structure of the site, mobilizing volunteer team to support sumana, organizing a distributed model for volunteer team</li>
        <li>@community_equity_ (@yuliyules & @noah_kealii: Undergrads at UCLA) - main page for marketing/ spreading awareness. Also helping put together flyers and a website that redirects list of all in person classes & school petitions and providing support for the general team</li>
    </ul>
    <h2 style="margin-left: 40px">
        Tech
    </h2>
    <ul style="margin-left: 40px">
        <li>McClain Thiel - Lead Dev, UC Berkeley Data Science. <a href="http://mcclainthiel.com">Site</a> <a href="https://www.linkedin.com/in/mcclain-thiel/">LinkedIn</a> </li>
        <li>Jared Spickard - Backend Dev, UC Berkeley EECS. <a href="https://www.linkedin.com/in/jaredspickard/"> LinkedIn</a> </li>
        <li>Roberto Sacripanti - ig @rsacripanti - founder of @ptprsofficial - MBA student at SDSU - crafting with community college list, providing support to volunteer team, helping with website creation.</li>
    </ul>
  <h2 style="margin-left: 40px">
        Outreach
    </h2>
    <ul style="margin-left: 40px">
        <li>CYNTHIAINPUBLIC @cynthiainpublic - spreading the word and getting petitions signed</li>
        <li>Zenab Ali - @zenabfatima_ - talking to SJSU officials, starting petition for SJSU, research/content for infographic</li>
        <li>Kristina Linn- Cal Poly Slo @kristinalinn_ helping put together a website that redirects list of all in person classes & school petitions</li>
        <li>Giuliana Calia- @giulianacalia - updating University lists on hybrid and creating email templates for various universities</li>
    </ul>
  <h2 style="margin-left: 40px">
      Miscellaneous
  </h2>
    <ul style="margin-left: 40px">
        <li>@marinagonzalez_ Mariana Gonzalez_ Created outline template/outline for int. Students to reach out to professors for PTEs</li>
        <p>
            The following are people who have created spreadsheets for the in person classes offered at their universities/colleges for fall semester/quarter:
        </p>
        <li>Cal Poly SLO @krristinalinn_</li>
        <li>UIC- University of illinois at Chicago @timothyoommen</li>
        <li>UC Santa Cruz  @xo.cheelz_</li>
        <li>USF @rosine.garcia</li>
        <li>Sonoma State @isabelmagat16 Isabel Maga</li>
        <li>UCR @lets.take.action</li>
        <li>UCD petition for an in person course @maahum</li>
        <li>Chico State @cumbixin</li>
        <li>John Hopkins- Martina Gjyzari made the change.org petition, and Elle Park put together the resource site</li>
        <li>UNLV petition by Noah Stone</li>
    </ul>
  <h2 style="margin-left: 40px">
      Special Thanks
  </h2>
  <ul style="margin-left: 40px">
      <li><a href="https://www.sheet2site.com/">Sheet2site.com</a> who is hosting large parts of this site for free and actually helped us code parts of it.
          I'm poor but you should defiantly donate or buy a product from him or something.</li>
    </ul>
  </body>
</html>
